.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* banner section */
.banner {
  width: 300px;
  height: 325px;
  background-color: #32de84;
}
.banner-content {
  padding: 40px 40px;
}
.banner-head {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 90px;
  height: 110px;
}
.banner-para {
  color: white;
  font-family: "Kanit", sans-serif;
  width: 150px;
  font-size: 30px;
  line-height: 2rem;
}

.banner-rest {
  width: 20px;
  height: 325px;
  background-color: #32de84;
}

/* card section */
.card {
    height: 525px;
    width: 350px;
    background-color: white;
    position: relative;
  }
  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
  }

  /* rendered div */
  .render-div{
    margin-top: 30px;
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    color: rgb(107, 101, 101);
  }
  .render-div>h1>span{
    margin-top: 30px;
    margin-left: 5px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: grey;
  }
  

